<config>
	<crewChiefPath>C:\Program Files (x86)\Britton IT Ltd\CrewChiefV4\CrewChiefV4.exe</crewChiefPath>
	<games>
		<game>
			<name>iRacing</name>
			<path>D:\Games\iRacing\ui\iracingui.exe</path>
		</game>
		<game>
			<name>AssettoCorsa_64BIT</name>
			<path>C:\Users\leon_\Desktop\Games\Simulationen\Assetto Corsa\Content Manager.exe</path>
		</game>
	</games>
	<apps>
		<app>
			<name>Racelabs</name>
			<path>C:\Users\leon_\AppData\Local\racelabapps\RacelabApps.exe</path>
		</app>
	</apps>
</config>
